.carrosel img{
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
    object-fit: cover;
}

.carrosel {
    width: 15rem;
    min-width: 5rem;
    height: 15rem;
    min-height: 15rem;
    position: relative;
    margin-top: 8rem;
    left: 30%;
    display: flex;
   align-items: center;
}

.images {
    display: none;
}

.Back,
.forward {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.4s ease;
}

.Back{
    border-radius: 5px  0 0 5px;
}

.forward {
    border-radius: 0px 5px 5px 0px;
}

.Back:hover,
.forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.show{
    position: relative;
    text-align: center;
    margin: 0rem;
    font-size: 3rem;
    color: var(--corTexto);
    text-shadow: 3px 3px 3px var(--shadowTexto);
    font-family: 'Lucida Sans';
}
