.carrosel img{
    width: 45rem;
    height: 30rem;
    border-radius: 10px;
    object-fit: cover;
}

.carrosel {
    width: 15rem;
    height: 15rem;
    position: relative;
    bottom: 0;
    left: 30%;
    margin-top: 8rem;
    display: flex;
    align-items: center;
}

.images {
    display: none;
}

.Back,
.forward {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.4s ease;
}

.Back{
    border-radius: 5px  0 0 5px;
}

.forward {
    border-radius: 0px 5px 5px 0px;
}

.Back:hover,
.forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.show{
    position: relative;
    text-align: center;
    margin: 0rem;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-family: 'Lucida Sans';
}
