* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    user-select: none;
    /* background: linear-gradient(18deg, rgb(27, 150, 245) 6%, rgb(247, 245, 245) 020%, rgb(60, 105, 225) 100%);*/
    background: linear-gradient(225deg, rgb(8, 33, 63) 0%,rgb(66, 70, 83) 80%, rgb(84, 123, 146) 100%);
    background-attachment: fixed;
}