.meuForm{
    display: inline-block;
    padding-top: 3rem;
    padding-left: 10rem;
    width: 50rem;
    left: 50%;
}

.prevImg{
    margin-top: 5px;
    display: inline-block;
    width: 31rem;
    height: 22rem;
}

#texto{
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}
input[type="file"]{
    display: none;
}

.arqui ,.Enviar{
    background: rgb(90, 84, 84);
    display: inline-block;
    cursor: pointer;
    width: 10rem;
    padding-left: 20px;
}
.enviar{
    display: none;
}
