.meuForm{
    display: inline-block;
    padding-top: 3rem;
    padding-left: 10rem;
    width: 50rem;
    left: 50%;
}

.prevImg{
    margin-top: 5px;
    margin-left: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
    width: 30rem;
    height: 25rem;
}

#texto{
    display: block;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}
input[type="file"]{
    display: none;
}

.arqui ,.Enviar{
    background: rgb(73, 1, 1);
    color: white;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
    padding-left: 20px;
}

.arqui:hover ,.Enviar:hover{
    background: white;
    color: rgb(73, 1, 1);
    border-color: rgb(73,1,1);
}

.arqui{
    margin-left: 10rem;
}
.enviar{
    display: none;
}
