header{
    width: 100%;
    max-width: 100%;
    height: 6rem;
    max-height: 6rem;
    background: rgba(39, 37, 37, 0.911);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 20px 0;
}

header img{
    width: 10rem;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 8px;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link:hover{
    color: #00d9ff;
    font-size: 18px;
    transition: ease-in-out 0.5s;
}